 <div>
    <div class="row mb-4 project">
  <div class="col-md-5">
     <!-- Render the title of one comment using a handlebars.js expression -->
    <h2><a href="/post/{{post.id}}">{{post.post_title}}</a></h2>
    <p>Created by {{user.userame}} on {{format_date date_created}}</p>
  </div>
        <div class="col-md-7">
            <p>{{description}}</p>
        </div>
    </div>
</div> 

{{#each comments as |comment| }}

 <div>
    <div class="row mb-4 project">
  <div class="col-md-5">
     <!-- Render the title of one comment using a handlebars.js expression -->
    <h2><a href="/post/{{post.id}}">{{post.post_title}}</a></h2>
    <p>Created by {{comment.user.username}} on {{format_date comment.date_created}}</p>
  </div>
        <div class="col-md-7">
            <p>{{comment.description}}</p>
        </div>
    </div>
</div> 

<div>
    <div class="row mb-4 project">
  <div class="col-md-5">
     <!-- Render the title of one comment using a handlebars.js expression -->
    <h2>Add a Comment</h2>
  </div>
  <div class="col-md-7">
    <form>
    <input type="text" id="description-body" class="w-100 custom-input-height">
    <button id="new-comment-form" class="mt-2 mb-2">Submit</button>
    <p id="comment-id" class="custom-hidden">{{id}}</p>
    </form>
  </div>
      <script src="./js/comment.js"></script>
</div> 

