{{#each posts as |post|}}

<h1>Posts</h1>

 <div>
    <div class="row mb-4 project">
  <div class="col-md-5">
     <!-- Render the title of one comment using a handlebars.js expression -->
    <h2><a href="/post/{{post.id}}">{{post.post_title}}</a></h2>
    <p>Created by {{post.user.userame}} on {{format_date post.date_created}}</p>
  </div>
        <div class="col-md-7">
            <p>{{post.description}}</p>
        </div>
    </div>
</div> 

{{/each}} 